/*************/
/* Variables */
/*************/
html {
    --color-white: #f6f0f0;
    --color-red: #c33b3b;
    --color-green: #2e8720;
    --color-brown: #7e4d32;
    --color-blue: #79b6ce;
    --color-green-darker: #0c06;

    --field-width: 66vmin;
}

/* All elements */
* {
    box-sizing: border-box;
    font-family: "Playball", serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    perspective: 500px;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;

    * { transform-style: preserve-3d; }
}

body {
    margin: 0;
    background: radial-gradient(#EE6C45, #FFCE61);
}

.field {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
    width: var(--field-width);
    display: grid;
    background: var(--color-green);
    background-image: repeating-linear-gradient(0deg, transparent 0 5%, var(--color-green-darker) 0 10%);
    aspect-ratio: 1;
    border-radius: 0 50% 0 10%;
    border-left: 10px solid var(--color-green);
    border-bottom: 10px solid var(--color-green);
    position: relative;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;

    /* Codepen van Sanne
    https://codepen.io/shooft/pen/ogNvMeE
    */
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: linear-gradient(white 0 0), linear-gradient(white 0 0);
        background-size: 0.1em 96%, 96% .1em;
        background-repeat: no-repeat;
        background-position: 3.3% 0%, 100% 96.5%;
        pointer-events: none;
    }

    .infield {
        width: calc(var(--field-width) / 1.5);
        display: grid;
        aspect-ratio: 1;
        padding: calc(var(--field-width)* 0.075) calc(var(--field-width)* .075) 0 0;
        background: var(--color-brown);
        border-radius: 0 25% 0 10%;
        place-self: end start;
        grid-template-columns: 15% 1fr 15%;
        grid-template-rows: 15% 1fr 15%;
        grid-template-areas:
            "thirdbase . secondbase"
            ". grass ."
            "battingcircle . firstbase";

        .infieldGrass {
            width: 100%;
            aspect-ratio: 1;
            background: var(--color-green);
            place-self: center;
            display: grid;
            grid-area: grass;
            background-image: repeating-linear-gradient(0deg, transparent 0 10%, var(--color-green-darker) 0 20%);

            .pitcherMound {
                width: 40%;
                aspect-ratio: 1;
                background: var(--color-brown);
                place-self: center;
                border-radius: 50%;
                border: 2px solid var(--color-white);
                display: grid;

                .pitcherPlate {
                    width: 5%;
                    aspect-ratio: 1 / 3;
                    background: var(--color-white);
                    place-self: center;
                    rotate: -45deg;
                }
            }
        }

        .battingCircle {
            width: 100%;
            aspect-ratio: 1;
            background: var(--color-brown);
            place-self: end start;
            border-radius: 50%;
            border: 2px solid var(--color-white);
            display: grid;
            grid-area: battingcircle;

            .homeplate {
                width: 20%;
                rotate: 45deg;
                aspect-ratio: 1;
                background: var(--color-white);
                place-self: center;
                clip-path: polygon(0% 0%, 100% 0, 100% 50%, 50% 100%, 0 50%);
            }
        }

        /* All bases */
        .base {
            background: var(--color-white);
            width: 20%;
            aspect-ratio: 1;
            position: relative;
            cursor: pointer;
            place-self: center;
            z-index: 10;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                border: 1px solid var(--color-white);
                border-radius: 50%;
                position: absolute;
                aspect-ratio: 1;
                left: 50%;
                top: 50%;
                translate: -50% -50%;

                animation: pulsate 1s ease-out;
                animation-iteration-count: infinite;
                opacity: 0.0;
            }

            .clickArea {
                display: none;
                position: absolute;
                width: 33vmax;
                top: -10em;
                min-height: 10vh;
                background: var(--color-white);
                border-radius: 10px;
                padding: 0.5rem 1rem;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-duration: 4s;
                box-shadow:
                    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
                    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

                &.secondBaseClickArea {
                    grid-template-columns: 1fr 3fr;
                    align-items: center;
                    grid-gap: 0 1rem;

                    &.active { display: grid; }

                    /* Reduced motion bron: 
                        https://www.smashingmagazine.com/2021/10/respecting-users-motion-preferences/
                    */
                    @media (prefers-reduced-motion: reduce) {
                        animation: none;
                        animation-iteration-count: unset;
                        animation-direction: unset;
                        animation-duration: unset;
                    }
                }

                &.active { display: block; }

                ul {
                    padding: 0 1rem;
                    margin: 0;

                    li { font-size: 1.5vw; }
                }
            }
        }

        .firstBase {
            grid-area: firstbase;

            .clickArea {
                transform: translateZ(7.5vw) rotateZ(60deg) rotateX(-90deg);
                animation-name: FirstBaseBlockHover;
            }
        }

        .secondBase {
            grid-area: secondbase;

            .clickArea {
                transform: translateZ(7.5vw) rotateZ(45deg) rotateX(-90deg);
                animation-name: SecondBaseBlockHover;

                .avatar {
                    grid-column: 1;
                    grid-row: 1 / span 2;
                    width: 100%;
                }

                .nameText {
                    grid-column: 2;
                    grid-row: 1;
                }

                .birthdateText {
                    grid-column: 2;
                    grid-row: 2;
                }
            }
        }

        .thirdBase {
            grid-area: thirdbase;

            .clickArea {
                transform: translateZ(7.5vw) rotateZ(15deg) rotateX(-90deg);
                animation-name: ThirdBaseBlockHover;
            }
        }
    }
}

/********************/
/**** Animations ****/
/********************/

/* Base pulse */
@keyframes pulsate {
    0% {
        -webkit-transform: scale(1.0, 1.0);
        opacity: 0.0;
    }

    50% { opacity: 1.0; }

    100% {
        -webkit-transform: scale(3.0, 3.0);
        opacity: 0.0;
    }
}

/* Clicked element hover */
@keyframes FirstBaseBlockHover {
    from { transform: translateZ(7.5vw) rotateZ(60deg) rotateX(-90deg); }
    to { transform: translateZ(10vw) rotateZ(60deg) rotateX(-90deg); }
}

@keyframes SecondBaseBlockHover {
    from { transform: translateZ(7.5vw) rotateZ(45deg) rotateX(-90deg); }
    to { transform: translateZ(10vw) rotateZ(45deg) rotateX(-90deg); }
}

@keyframes ThirdBaseBlockHover {
    from { transform: translateZ(7.5vw) rotateZ(15deg) rotateX(-90deg); }
    to { transform: translateZ(10vw) rotateZ(15deg) rotateX(-90deg); }
}